@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url("https://fonts.googleapis.com/css?family=Teko:600");
@font-face { font-family: 'TmonMonsori'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff") format("woff"); font-weight: normal; font-style: normal; }
@-webkit-keyframes main-slide-img { 0% { -webkit-transform: translate(-20px, 0) scale(1.05); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0) scale(1); opacity: 1; } }
@-moz-keyframes main-slide-img { 0% { -moz-transform: translate(-20px, 0) scale(1.05); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0) scale(1); opacity: 1; } }
@keyframes main-slide-img { 0% { transform: translate(-20px, 0) scale(1.05); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0) scale(1); opacity: 1; } }
@-webkit-keyframes main-slide-img__cover { 0% { width: 100%; }
  100% { width: 0; } }
@-moz-keyframes main-slide-img__cover { 0% { width: 100%; }
  100% { width: 0; } }
@keyframes main-slide-img__cover { 0% { width: 100%; }
  100% { width: 0; } }
@-webkit-keyframes sub-slide-img { 0% { -webkit-transform: translate(20px, 0) scale(1.05); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0) scale(1); opacity: 1; } }
@-moz-keyframes sub-slide-img { 0% { -moz-transform: translate(20px, 0) scale(1.05); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0) scale(1); opacity: 1; } }
@keyframes sub-slide-img { 0% { transform: translate(20px, 0) scale(1.05); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0) scale(1); opacity: 1; } }
@-webkit-keyframes ltr-20px { 0% { -webkit-transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes ltr-20px { 0% { -moz-transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes ltr-20px { 0% { transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes wave-text-cover { 0% { left: 100%; }
  50% { left: 0; }
  100% { left: 100%; }
  0%,100% { border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%; -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg) scale(1.5); }
  34% { border-radius: 10% 0% 0% 54% / 30% 0% 0% 70%; -webkit-transform: translate3d(0, 5px, 0) rotateZ(0.01deg); }
  50% { -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg); }
  67% { border-radius: 50% 0% 0% 50%/100% 0% 0% 60%; -webkit-transform: translate3d(0, -3px, 0) rotateZ(0.01deg); } }
@-moz-keyframes wave-text-cover { 0% { left: 100%; }
  50% { left: 0; }
  100% { left: 100%; }
  0%,100% { border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%; -moz-transform: translate3d(0, 0, 0) rotateZ(0.01deg) scale(1.5); }
  34% { border-radius: 10% 0% 0% 54% / 30% 0% 0% 70%; -moz-transform: translate3d(0, 5px, 0) rotateZ(0.01deg); }
  50% { -moz-transform: translate3d(0, 0, 0) rotateZ(0.01deg); }
  67% { border-radius: 50% 0% 0% 50%/100% 0% 0% 60%; transform: translate3d(0, -3px, 0) rotateZ(0.01deg); } }
@keyframes wave-text-cover { 0% { left: 100%; }
  49% { left: 0%; }
  51% { left: 0%; }
  100% { left: 100%; }
  0%,100% { border-radius: 30% 0% 0% 30% / 10% 0% 0% 10%; }
  34% { border-radius: 10% 0% 0% 54% / 30% 0% 0% 70%; }
  49% { border-radius: 0; }
  51% { border-radius: 0; }
  67% { border-radius: 50% 0% 0% 50%/100% 0% 0% 60%; } }
@-webkit-keyframes num-box { 0% { width: 0%; }
  100% { width: 1rem; } }
@-moz-keyframes num-box { 0% { width: 0%; }
  100% { width: 1rem; } }
@keyframes num-box { 0% { width: 0%; }
  100% { width: 1rem; } }
@-webkit-keyframes dir-appear { 0% { -webkit-transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes dir-appear { 0% { -moz-transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes dir-appear { 0% { transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes loading-bar { 0% { width: 0%; }
  100% { width: 100%; } }
@-moz-keyframes loading-bar { 0% { width: 0%; }
  100% { width: 100%; } }
@keyframes loading-bar { 0% { width: 0%; }
  100% { width: 100%; } }
@-webkit-keyframes gnb-mobile { 0% { height: 0; }
  100% { height: 100vh; } }
@-moz-keyframes gnb-mobile { 0% { height: 0; }
  100% { height: 100vh; } }
@keyframes gnb-mobile { 0% { height: 0; }
  100% { height: 100vh; } }
@-webkit-keyframes dot-loading { 0% { opacity: 1; }
  100% { opacity: 0; } }
@-moz-keyframes dot-loading { 0% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes dot-loading { 0% { opacity: 1; }
  100% { opacity: 0; } }
@-webkit-keyframes done { 0% { -webkit-transform: scale(1); }
  70% { -webkit-transform: scale(1.05); }
  85% { -webkit-transform: scale(0.95); }
  100% { -webkit-transform: scale(1); } }
@-moz-keyframes done { 0% { -moz-transform: scale(1); }
  70% { -moz-transform: scale(1.05); }
  85% { -moz-transform: scale(0.95); }
  100% { -moz-transform: scale(1); } }
@keyframes done { 0% { transform: scale(1); }
  70% { transform: scale(1.05); }
  85% { transform: scale(0.95); }
  100% { transform: scale(1); } }
@-webkit-keyframes letter-appear { 0% { -webkit-transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes letter-appear { 0% { -moz-transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes letter-appear { 0% { transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes title-desc { 0% { -webkit-transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes title-desc { 0% { -moz-transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes title-desc { 0% { transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes title-line { 0% { height: 0; opacity: 1; }
  100% { height: 8rem; opacity: 1; } }
@-moz-keyframes title-line { 0% { height: 0; opacity: 1; }
  100% { height: 8rem; opacity: 1; } }
@keyframes title-line { 0% { height: 0; opacity: 1; }
  100% { height: 8rem; opacity: 1; } }
@-webkit-keyframes title { 0% { -webkit-transform: translate(0, -20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes title { 0% { -moz-transform: translate(0, -20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes title { 0% { transform: translate(0, -20px); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes class-type { 0% { -webkit-transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes class-type { 0% { -moz-transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes class-type { 0% { transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes location-ltr { 0% { -webkit-transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes location-ltr { 0% { -moz-transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes location-ltr { 0% { transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes location-rtl { 0% { -webkit-transform: translate(20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes location-rtl { 0% { -moz-transform: translate(20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes location-rtl { 0% { transform: translate(20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes rental-slide { 0% { opacity: 0; }
  100% { opacity: 1; } }
@-moz-keyframes rental-slide { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes rental-slide { 0% { opacity: 0; }
  100% { opacity: 1; } }
@-webkit-keyframes rental-slide-letter { 0% { -webkit-transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes rental-slide-letter { 0% { -moz-transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes rental-slide-letter { 0% { transform: translate(-20px, 0); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
@-webkit-keyframes icon-effect { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }
@-moz-keyframes icon-effect { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes icon-effect { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }
@-webkit-keyframes shopbag-letter { 0% { -webkit-transform: translate(0, 100%); }
  100% { -webkit-transform: translate(0, 0); } }
@-moz-keyframes shopbag-letter { 0% { -moz-transform: translate(0, 100%); }
  100% { -moz-transform: translate(0, 0); } }
@keyframes shopbag-letter { 0% { transform: translate(0, 100%); }
  100% { transform: translate(0, 0); } }
@-webkit-keyframes gnb-sticky { 0% { top: -60px; }
  100% { top: 0; } }
@-moz-keyframes gnb-sticky { 0% { top: -60px; }
  100% { top: 0; } }
@keyframes gnb-sticky { 0% { top: -60px; }
  100% { top: 0; } }
@-webkit-keyframes wave { 0% { -webkit-transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -webkit-transform: translate(0, 0); opacity: 1; } }
@-moz-keyframes wave { 0% { -moz-transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { -moz-transform: translate(0, 0); opacity: 1; } }
@keyframes wave { 0% { transform: translate(0, 20px); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translate(0, 0); opacity: 1; } }
html { font-size: 12px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; }

body { width: 100%; overflow-x: hidden; }

.header .gnb .gnb-list .gnb-tab:nth-of-type(2) a span { color: #2ac6ff; }
.header .gnb .gnb-list .gnb-tab:nth-of-type(2):hover a span { color: white; }

.jumbotron { width: 100%; height: 24rem; overflow: hidden; position: relative; }
.jumbotron .jumbotron-img { width: 100%; height: 100%; position: relative; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.jumbotron .jumbotron-img img { width: 100%; }
.jumbotron .jumbotron-img:after { content: ''; width: 100%; height: 100%; background-color: rgba(43, 43, 43, 0.7); position: absolute; top: 0; left: 0; }
.jumbotron .jumbotron-title { width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.jumbotron .jumbotron-title img { width: 3.5rem; }
.jumbotron .jumbotron-title p { font-size: 2rem; color: white; font-family: 'NanumSquare', sans-serif; text-align: center; width: 40%; margin-top: 1.5rem; word-break: keep-all; }

.container { width: 100%; position: relative; margin-top: 5rem; }
.container .container-title { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.container .container-title .title-line { width: 1px; height: 8rem; background-color: #2b2b2b; }
.container .container-title .title { font-family: 'TmonMonsori'; font-size: 2.9rem; text-shadow: -1px -1px 0 #2b2b2b, 1px -1px 0 #2b2b2b, -1px 1px 0 #2b2b2b, 1px 1px 0 #2b2b2b; margin-top: 2rem; text-align: center; margin-bottom: 5rem; color: white; }
.container .container-content { width: 100%; position: relative; }
.container .container-content .icon-warpper { width: 100%; padding: 0 25%; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: space-between; -ms-flex-pack: space-between; justify-content: space-between; }
.container .container-content .icon-warpper .icon-tab { width: calc(100% / 3); position: relative; font-family: 'NanumSquare', sans-serif; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 7%; }
.container .container-content .icon-warpper .icon-tab:hover .icon-tab__title:before { width: 70%; }
.container .container-content .icon-warpper .icon-tab:nth-of-type(1) { margin-left: 0; }
.container .container-content .icon-warpper .icon-tab .icon-tab__img { width: 100%; position: relative; text-decoration: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: inline; }
.container .container-content .icon-warpper .icon-tab .icon-tab__img .tab-img__icon { width: 100%; position: relative; }
.container .container-content .icon-warpper .icon-tab .icon-tab__img .tab-img__icon-effect { width: 100%; position: absolute; top: 0; left: 0; }
.container .container-content .icon-warpper .icon-tab .icon-tab__img .tab-img__icon-effect.effect { -webkit-animation: icon-effect 0.5s ease infinite; animation: icon-effect 0.5s ease infinite; }
.container .container-content .icon-warpper .icon-tab .icon-tab__subtitle { width: 100%; text-align: center; margin-top: 2rem; color: #a5a5a5; font-size: 1rem; line-height: 1.5; word-break: keep-all; display: block; }
.container .container-content .icon-warpper .icon-tab .icon-tab__title { width: 100%; text-align: center; color: #606060; font-size: 2rem; margin-top: 1.15rem; font-weight: 700; display: block; position: relative; z-index: 3; text-decoration: none; }
.container .container-content .icon-warpper .icon-tab .icon-tab__title:before { content: ''; width: 0; height: 4px; background: #fffaa7; background: -moz-linear-gradient(135deg, #fffaa7 0%, #2ac6ff 100%); background: -webkit-linear-gradient(135deg, #fffaa7 0%, #2ac6ff 100%); background: linear-gradient(135deg, #fffaa7 0%, #2ac6ff 100%); display: inline-block; position: absolute; top: 100%; left: 15%; -webkit-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.container-wave { width: 100%; opacity: 0.5; position: relative; overflow: hidden; }
.container-wave img { width: 100%; }
.container-wave.flip { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.container-class { width: 100%; background-color: #ececec; padding-bottom: 5rem; }
.container-class .class-info { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; padding-top: 10rem; }
.container-class .class-info:nth-of-type(1) { padding-top: 0; }
.container-class .class-info:nth-of-type(2) .class-info__review .mCustomScrollBox .mCSB_container { direction: ltr; }
.container-class .class-info:nth-of-type(2) .class-info__review .info-review-card-list { -webkit-box-direction: row; -ms-flex-direction: row; flex-direction: row; left: 0; }
.container-class .class-info:nth-of-type(2) .class-info__cont { margin-left: 7%; margin-right: 3%; }
.container-class .class-info .class-info__review { display: inline-block; width: 50%; height: 45rem; position: relative; overflow: hidden; }
.container-class .class-info .class-info__review .mCustomScrollBox .mCSB_container { direction: rtl; }
.container-class .class-info .class-info__review .info-review-card-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-direction: row; -ms-flex-direction: row; flex-direction: row; overflow-x: auto; overflow-y: hidden; position: absolute; top: 0; height: 45rem; width: 100vw; }
.container-class .class-info .class-info__review .info-review-card-list .review-card { width: 18%; height: 40rem; position: relative; margin-left: 2rem; margin-top: 2rem; -webkit-box-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; direction: ltr; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; opacity: 0; }
.container-class .class-info .class-info__review .info-review-card-list .review-card:hover { -webkit-transform: translate(0, -20px); -ms-transform: translate(0, -20px); transform: translate(0, -20px); -webkit-box-shadow: 0 5px 10px rgba(40, 40, 40, 0.7); -moz-box-shadow: 0 5px 10px rgba(40, 40, 40, 0.7); box-shadow: 0 5px 10px rgba(40, 40, 40, 0.7); }
.container-class .class-info .class-info__review .info-review-card-list .review-card.appear { -webkit-animation: title 0.5s ease; animation: title 0.5s ease; opacity: 1; }
.container-class .class-info .class-info__review .info-review-card-list .review-card .card-img { width: 100%; height: 100%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; }
.container-class .class-info .class-info__review .info-review-card-list .review-card .card-img:after { content: ''; width: 100%; height: 100%; background-color: rgba(43, 43, 43, 0.7); position: absolute; top: 0; left: 0; }
.container-class .class-info .class-info__review .info-review-card-list .review-card .card-img img { height: 100%; }
.container-class .class-info .class-info__review .info-review-card-list .review-card .card-cont { width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; padding: 10%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.container-class .class-info .class-info__review .info-review-card-list .review-card .card-cont .cont-count { color: white; font-family: 'NanumSquare', sans-serif; font-weight: 800; font-size: 1.15rem; }
.container-class .class-info .class-info__review .info-review-card-list .review-card .card-cont .cont-eval { margin-top: 120%; width: 100%; height: 2rem; display: -webkit-box; display: -ms-flexbox; display: flex; }
.container-class .class-info .class-info__review .info-review-card-list .review-card .card-cont .cont-eval img { height: 2rem; width: auto; margin-right: 1rem; }
.container-class .class-info .class-info__review .info-review-card-list .review-card .card-cont .cont-comment { border-left: 1px solid white; margin-top: 2rem; width: 100%; }
.container-class .class-info .class-info__review .info-review-card-list .review-card .card-cont .cont-comment p { margin-left: 5%; width: 95%; word-break: keep-all; color: white; font-size: 1.35rem; line-height: 1.5; font-family: 'NanumSquare', sans-serif; }
.container-class .class-info .class-info__cont { width: 40%; margin-left: 3%; margin-right: 7%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.container-class .class-info .class-info__cont .info-cont__text { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.container-class .class-info .class-info__cont .info-cont__text .text-title-line { width: 100%; height: 8rem; position: relative; }
.container-class .class-info .class-info__cont .info-cont__text .text-title-line span { display: block; width: 1px; height: 8rem; background-color: #2b2b2b; opacity: 0; margin-left: 50%; -webkit-transform-origin: center top; -ms-transform-origin: center top; transform-origin: center top; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.container-class .class-info .class-info__cont .info-cont__text .text-title-line.appear span { -webkit-animation: title-line 0.5s ease; animation: title-line 0.5s ease; opacity: 1; height: 8rem; }
.container-class .class-info .class-info__cont .info-cont__text .text-title { font-family: 'TmonMonsori'; font-size: 2.9rem; text-shadow: -1px -1px 0 #2b2b2b, 1px -1px 0 #2b2b2b, -1px 1px 0 #2b2b2b, 1px 1px 0 #2b2b2b; margin-top: 2rem; text-align: center; margin-bottom: 2rem; color: #ececec; opacity: 0; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.container-class .class-info .class-info__cont .info-cont__text .text-title.appear { -webkit-animation: title 0.5s ease; animation: title 0.5s ease; opacity: 1; }
.container-class .class-info .class-info__cont .info-cont__text .text-desc { width: 50%; font-family: 'NanumSquare', sans-serif; color: #606060; font-size: 1.15rem; line-height: 1.5; word-break: keep-all; text-align: center; opacity: 0; }
.container-class .class-info .class-info__cont .info-cont__text .text-desc.appear { -webkit-animation: class-type 0.5s ease; animation: class-type 0.5s ease; opacity: 1; }
.container-class .class-info .class-info__cont .info-cont__benefit { margin-top: 4rem; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.container-class .class-info .class-info__cont .info-cont__benefit .benefit-tab { width: 23%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; opacity: 0; }
.container-class .class-info .class-info__cont .info-cont__benefit .benefit-tab.appear { -webkit-animation: class-type 0.5s ease; animation: class-type 0.5s ease; opacity: 1; }
.container-class .class-info .class-info__cont .info-cont__benefit .benefit-tab img { height: 5rem; }
.container-class .class-info .class-info__cont .info-cont__benefit .benefit-tab span { font-family: 'NanumSquare', sans-serif; color: #606060; text-align: center; font-size: 1.35rem; margin-top: 1.35rem; display: block; width: 100%; }
.container-class .class-info .class-info__cont .info-cont__btn { margin-top: 4rem; width: 100%; height: 6rem; text-decoration: none; display: block; }
.container-class .class-info .class-info__cont .info-cont__btn .btn-name { font-family: 'NanumSquare', sans-serif; font-size: 1.35rem; line-height: 2.5; font-weight: 800; color: #2b2b2b; text-align: center; padding: 1.5rem 5rem; background-color: #f7ff5a; border-radius: 5rem; text-decoration: none; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; margin-left: 35%; opacity: 0; }
.container-class .class-info .class-info__cont .info-cont__btn .btn-name.appear { opacity: 1; }
.container-class .class-info .class-info__cont .info-cont__btn .btn-name:hover { -webkit-box-shadow: 0 5px 15px rgba(40, 40, 40, 0.7); -moz-box-shadow: 0 5px 15px rgba(40, 40, 40, 0.7); box-shadow: 0 5px 15px rgba(40, 40, 40, 0.7); }

.container-cost { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 10%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; }
.container-cost .cost-wrapper { width: 70%; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; }
.container-cost .cost-wrapper .cost-tab { width: 20%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; padding: 5%; font-family: 'NanumSquare', sans-serif; color: #606060; border: 1px solid #a5a5a5; margin-right: 1rem; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; position: relative; }
.container-cost .cost-wrapper .cost-tab:hover { border: 1px solid #2ac6ff; }
.container-cost .cost-wrapper .cost-tab:hover .cost-tab__icon .cost-tab__icon-effect { -webkit-animation: icon-effect 0.5s ease infinite; animation: icon-effect 0.5s ease infinite; }
.container-cost .cost-wrapper .cost-tab.choose { border: 1px solid #2ac6ff; }
.container-cost .cost-wrapper .cost-tab.choose .cost-tab__choose span { background-color: #2ac6ff; color: white; }
.container-cost .cost-wrapper .cost-tab .cost-tab__icon { width: 100%; height: 12rem; position: relative; }
.container-cost .cost-wrapper .cost-tab .cost-tab__icon .cost-tab__icon-icon { width: 70%; height: auto; position: absolute; bottom: 3rem; margin-left: 15%; }
.container-cost .cost-wrapper .cost-tab .cost-tab__icon .cost-tab__icon-effect { width: 80%; height: auto; position: absolute; top: 0; left: 10%; }
.container-cost .cost-wrapper .cost-tab .cost-tab__icon .cost-tab__icon-title { font-size: 1.35rem; font-weight: 700; margin-top: 1.35rem; position: absolute; bottom: 0; width: 100%; text-align: center; }
.container-cost .cost-wrapper .cost-tab .cost-tab__option { margin-top: 2rem; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.container-cost .cost-wrapper .cost-tab .cost-tab__option .option { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 1.5rem; }
.container-cost .cost-wrapper .cost-tab .cost-tab__option .option .option-icon { height: 2.5rem; width: auto; cursor: pointer; }
.container-cost .cost-wrapper .cost-tab .cost-tab__option .option .option-input { width: 3.5em; height: 3rem; border: 1px solid #eaeaea; font-size: 1.15rem; line-height: 3rem; font-weight: 700; border-radius: 5px; margin-left: 1rem; margin-right: 1rem; text-align: center; }
.container-cost .cost-wrapper .cost-tab .cost-tab__option .option .option-unit { width: 2.2rem; height: 3rem; text-align: center; font-size: 1.15rem; line-height: 3rem; margin-right: 1rem; display: inline-block; }
.container-cost .cost-wrapper .cost-tab .cost-tab__benefit { color: #a5a5a5; text-align: center; width: 100%; font-size: 1.15rem; line-height: 1.5; margin-top: 2rem; }
.container-cost .cost-wrapper .cost-tab .cost-tab__total { margin-top: 2rem; font-family: 'TmonMonsori'; font-size: 3rem; text-align: center; width: 100%; }
.container-cost .cost-wrapper .cost-tab .cost-tab__choose { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; margin-top: 2rem; }
.container-cost .cost-wrapper .cost-tab .cost-tab__choose span { font-size: 1.15rem; color: #2ac6ff; padding: 1rem 4rem; border-radius: 5rem; border: 1px solid #2ac6ff; background-color: transparent; cursor: pointer; }
.container-cost .cost-wrapper .cost-tab .cost-tab__choose span:hover { background-color: #2ac6ff; color: white; }
.container-cost .cost-final { width: 30%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; text-align: right; }
.container-cost .cost-final .cost-final__list { width: 90%; margin-top: 2rem; font-family: 'NanumSquare', sans-serif; color: #606060; font-size: 1.15rem; line-height: 1.8; margin-left: 10%; }
.container-cost .cost-final .cost-final__result { width: 90%; margin-top: 5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; text-align: right; border-bottom: 1px solid #a5a5a5; margin-left: 10%; }
.container-cost .cost-final .cost-final__result .result-title { font-family: 'NanumSquare', sans-serif; color: #606060; font-size: 2.5rem; width: 100%; display: block; }
.container-cost .cost-final .cost-final__result .result-money { font-family: 'TmonMonsori'; color: #2ac6ff; margin-top: 1rem; font-size: 4.5rem; margin-bottom: 1rem; width: 100%; display: block; }
.container-cost .cost-final .cost-final__next { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 10%; margin-top: 2rem; position: relative; }
.container-cost .cost-final .cost-final__next .next-reset { width: 25%; margin-right: 2%; color: white; background-color: #606060; padding-top: 1.35rem; padding-bottom: 1.35rem; font-size: 1.35rem; text-align: center; cursor: pointer; display: inline-block; position: relative; font-family: 'NanumSquare', sans-serif; }
.container-cost .cost-final .cost-final__next .next-step { width: 73%; color: #2b2b2b; background-color: #f7ff5a; padding-top: 1.35rem; padding-bottom: 1.35rem; font-size: 1.35rem; text-align: center; cursor: pointer; display: inline-block; position: relative; font-family: 'NanumSquare', sans-serif; }

@media screen and (min-width: 1920px) { html { font-size: 14px; } }
@media screen and (min-width: 1025px) and (max-width: 1280px) { .container-class .class-info .class-info__review .info-review-card-list .review-card .card-cont .cont-eval { margin-top: 155%; }
  .container-cost .cost-wrapper .cost-tab { width: 25%; padding: 3%; }
  .container-cost .cost-wrapper .cost-tab .cost-tab__option .option .option-input { width: 2.5em; } }
@media screen and (min-width: 768px) and (max-width: 1024px) { .container .container-content .icon-warpper { width: 100%; padding: 0 16%; }
  .container .container-content .icon-warpper .icon-tab { width: calc(100% / 3); }
  .container .container-content .icon-warpper .icon-tab .icon-tab__img { width: 100%; position: relative; text-decoration: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .container .container-content .icon-warpper .icon-tab .icon-tab__img .tab-img__icon-effect { width: 100%; position: absolute; top: 0; left: 0; }
  .container .container-content .icon-warpper .icon-tab .icon-tab__img .tab-img__icon-effect.effect { -webkit-animation: icon-effect 0.5s ease infinite; animation: icon-effect 0.5s ease infinite; }
  .container .container-content .icon-warpper .icon-tab .icon-tab__subtitle { width: 100%; text-align: center; margin-top: 3rem; color: #a5a5a5; font-size: 1rem; word-break: keep-all; display: block; }
  .container .container-content .icon-warpper .icon-tab .icon-tab__title { width: 100%; text-align: center; color: #606060; font-size: 2rem; margin-top: 1.15rem; font-weight: 700; display: block; }
  .container-class .class-info .class-info__review .info-review-card-list { width: 123vw; }
  .container-class .class-info .class-info__review .info-review-card-list .review-card { width: 23%; }
  .container-class .class-info .class-info__review .info-review-card-list .review-card .card-cont .cont-eval { margin-top: 121%; }
  .container-class .class-info .class-info__cont .info-cont__text .text-desc { width: 60%; }
  .container-class .class-info .class-info__cont .info-cont__benefit .benefit-tab { width: 27%; }
  .container-class .class-info .class-info__cont .info-cont__btn .btn-name { margin-left: 28%; }
  .container-cost { display: block; }
  .container-cost .cost-wrapper { width: 100%; }
  .container-cost .cost-wrapper .cost-tab { width: calc((100% - 4rem) / 3); padding: 3%; margin-right: 0; margin-left: 2rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .container-cost .cost-wrapper .cost-tab:nth-of-type(1) { margin-left: 0; }
  .container-cost .cost-wrapper .cost-tab .cost-tab__option .option .option-input { width: 2.5em; }
  .container-cost .cost-final { width: 55%; margin-left: 45%; } }
@media screen and (max-width: 767px) { .jumbotron .jumbotron-img img { width: auto; height: 100%; }
  .container .container-title .title { font-size: 2rem; }
  .container .container-content .icon-warpper { padding: 0 10%; }
  .container .container-content .icon-warpper .icon-tab { width: calc(100% / 3); padding: 3%; }
  .container .container-content .icon-warpper .icon-tab .icon-tab__subtitle { display: none; }
  .container .container-content .icon-warpper .icon-tab .icon-tab__title { font-size: 1.5rem; margin-top: 1.5rem; }
  .container-class .class-info { -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .container-class .class-info:nth-of-type(2) { padding-top: 0; }
  .container-class .class-info:nth-of-type(2) .class-info__review { width: 90%; margin-left: 10%; }
  .container-class .class-info:nth-of-type(2) .class-info__cont { position: absolute; top: 100%; margin-right: 0; margin-left: 0; }
  .container-class .class-info:nth-of-type(3) { margin-top: 100%; }
  .container-class .class-info .class-info__review { height: 35rem; width: 90%; }
  .container-class .class-info .class-info__review .info-review-card-list { width: 310vw; height: 35rem; }
  .container-class .class-info .class-info__review .info-review-card-list .review-card { width: 16%; height: 30rem; }
  .container-class .class-info .class-info__review .info-review-card-list .review-card .card-cont .cont-eval { margin-top: 121%; }
  .container-class .class-info .class-info__review .info-review-card-list .review-card .card-cont .cont-eval img { height: 1.6rem; margin-right: 0.7rem; }
  .container-class .class-info .class-info__review .info-review-card-list .review-card .card-cont .cont-comment { margin-top: 1.5rem; }
  .container-class .class-info .class-info__review .info-review-card-list .review-card .card-cont .cont-comment p { font-size: 1.1rem; }
  .container-class .class-info .class-info__cont { width: 100%; margin-left: 0; margin-right: 0; }
  .container-class .class-info .class-info__cont .info-cont__text .text-title { font-size: 2rem; }
  .container-class .class-info .class-info__cont .info-cont__text .text-desc { width: 70%; }
  .container-class .class-info .class-info__cont .info-cont__benefit .benefit-tab { width: 27%; }
  .container-class .class-info .class-info__cont .info-cont__benefit .benefit-tab img { height: 4.3rem; }
  .container-class .class-info .class-info__cont .info-cont__benefit .benefit-tab span { font-size: 1.1rem; }
  .container-class .class-info .class-info__cont .info-cont__btn .btn-name { margin-left: 30%; font-size: 1.15rem; padding: 1.3rem 4rem; }
  .container-cost { display: block; padding: 0 20px; }
  .container-cost .cost-wrapper { width: 100%; -webkit-box-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .container-cost .cost-wrapper .cost-tab { -webkit-box-direction: row; -ms-flex-direction: row; flex-direction: row; margin-left: 0; margin-right: 0; width: 100%; height: 21rem; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 1rem; }
  .container-cost .cost-wrapper .cost-tab:nth-of-type(1) { margin-left: 0; }
  .container-cost .cost-wrapper .cost-tab .cost-tab__icon { width: 40%; height: 10rem; }
  .container-cost .cost-wrapper .cost-tab .cost-tab__icon .cost-tab__icon-title { word-break: keep-all; line-height: 1.5; }
  .container-cost .cost-wrapper .cost-tab .cost-tab__option { width: 60%; position: absolute; top: 0; right: 0; margin-top: 1rem; }
  .container-cost .cost-wrapper .cost-tab .cost-tab__option .option { margin-top: 1.2rem; }
  .container-cost .cost-wrapper .cost-tab .cost-tab__option .option .option-input { width: 2.5em; }
  .container-cost .cost-wrapper .cost-tab .cost-tab__benefit { display: none; }
  .container-cost .cost-wrapper .cost-tab .cost-tab__total { width: 60%; position: absolute; right: 0; padding-right: 9%; text-align: right; font-size: 2rem; }
  .container-cost .cost-wrapper .cost-tab .cost-tab__choose { width: 60%; position: absolute; right: 0; top: 65%; display: inline; margin-top: 3rem; }
  .container-cost .cost-wrapper .cost-tab .cost-tab__choose span { font-size: 1.1rem; padding: 1rem 3rem; margin-left: 43%; }
  .container-cost .cost-final { width: 78%; margin-left: 22%; }
  .container-cost .cost-final .cost-final__result .result-money { font-size: 3.5rem; }
  .container-cost .cost-final .cost-final__next { margin-top: 1rem; }
  .container-cost .cost-final .cost-final__next .next-reset { font-size: 1.1rem; }
  .container-cost .cost-final .cost-final__next .next-step { font-size: 1.1rem; } }

/*# sourceMappingURL=class.css.map */
