@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';
@import 'base/variable.scss';
@import 'base/keyframes.scss';

html {
	font-size: $desktop;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
body {
	width: 100%;
	overflow-x: hidden;
}
.header {
	.gnb {
		.gnb-list {
			.gnb-tab {
				&:nth-of-type(2) {
					a {
						span {
							color: $blue;
						}
					}
					&:hover {
						a {
							span {
								color: $font-white;
							}
						}
					}
				}
			}
		}
	}
}
.jumbotron {
	width: 100%;
	height: 24rem;
	overflow: hidden;
	position: relative;
	.jumbotron-img {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		@include flexbox();
		@include justify-content(center);
		@include align-items(center);
		img {
			width: 100%;
		}
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			background-color: $gray1-700;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.jumbotron-title {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@include flexbox();
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);
		img {
			width: 3.5rem;
		}
		p {
			font-size: 2rem;
			color: $font-white;
			font-family: 'NanumSquare', sans-serif;
			text-align: center;
			width: 40%;
			margin-top: 1.5rem;
			word-break: keep-all;
		}
	}
}
.container {
	width: 100%;
	position: relative;
	margin-top: 5rem;
	.container-title {
		width: 100%;
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		.title-line {
			width: 1px;
			height: 8rem;
			background-color: $gray1;
		}
		.title {
			font-family: 'TmonMonsori';
			font-size: 2.9rem;
			text-shadow: -1px -1px 0 $gray1, 1px -1px 0 $gray1, -1px 1px 0 $gray1, 1px 1px 0 $gray1;  
			margin-top: 2rem;
			text-align: center;
			margin-bottom: 5rem;
			color: $font-white;
		}
	}
	.container-content {
		width: 100%;
		position: relative;
		.icon-warpper {
			width: 100%;
			padding: 0 25%;
			position: relative;
			@include box-sizing(border-box);
			@include flexbox();
			@include justify-content(space-between);
			.icon-tab {
				width: 20%;
				position: relative;
				font-family: 'NanumSquare', sans-serif;
				text-align: center;
				@include flexbox();
				@include flex-direction(column);
				margin-left: 20%;
				&:nth-of-type(1) {
					margin-left: 0;
				}
				.icon-tab__img {
					width: 100%;
					height: 13rem;
					position: relative;
					text-decoration: none;
					@include flexbox();
					@include justify-content(center);
					.tab-img__icon {
						width: 100%;
						position: absolute;
						bottom: 0;
						left: 0;
					}
					.tab-img__icon-effect {
						width: 100%;
						position: absolute;
						top: 0;
						left: 0;
						&.effect {
							@include animation(icon-effect 0.5s ease infinite);
						}
					}
				}
				.icon-tab__subtitle {
					width: 100%;
					text-align: center;
					margin-top: 3rem;
					color: $gray3;
					font-size: 1rem;
					word-break: keep-all;
					display: block;
				}
				.icon-tab__title {
					width: 100%;
					text-align: center;
					color: $gray2;
					font-size: 2rem;
					margin-top: 1.15rem;
					font-weight: 700;
					display: block;
				}
			}
		}
	}
}
.container-wave {
	width: 100%;
	opacity: 0.5;
	position: relative;
	overflow: hidden;
	img {
		width: 100%;
	}
	&.flip {
		@include transform(rotate(180deg));
	}
}
.container-class {
	width: 100%;
	background-color: $class-bg;
	padding-bottom: 5rem;
	.class-info {
		width: 100%;
		@include flexbox();
		position: relative;
		padding-top: 10rem;
		&:nth-of-type(1) {
			padding-top: 0;
		}
		&:nth-of-type(2) {
			.class-info__review {
				.mCustomScrollBox {
					.mCSB_container {
						direction: ltr;
					}
				}
				.info-review-card-list {
					@include flex-direction(row);
					left: 0;
					.review-card {
					}
				}
			}
			.class-info__cont {
				margin-left: 7%;
				margin-right: 3%;
			}
		}
		.class-info__review {
			display: inline-block;
			width: 50%;
			height: 45rem;
			position: relative;
			overflow: hidden;
			.mCustomScrollBox {
				.mCSB_container {
					direction: rtl;
				}
			}
			.info-review-card-list {
				@include flexbox();
				@include flex-direction(row);
				overflow-x: auto;
				overflow-y: hidden;
				position: absolute;
				top: 0;
				height: 45rem;
				width: 100vw;				
				.review-card {
					width: 18%;
					height: 40rem;
					position: relative;
					margin-left: 2rem;
					margin-top: 2rem;
					@include flex(0 0 auto);
					direction: ltr;
					@include transition(all 0.5s ease);
					opacity: 0;
					&:hover {
						@include transform(translate(0, -20px));
						@include box-shadow(0 5px 10px $shadow);
					}
					&.appear{
						@include animation(title 0.5s ease);
						opacity: 1;
					}
					.card-img {
						width: 100%;
						height: 100%;
						position: relative;
						@include flexbox();
						@include justify-content(center);
						@include align-items(center);
						overflow: hidden;
						&:after {
							content: '';
							width: 100%;
							height: 100%;
							background-color: $gray1-700;
							position: absolute;
							top: 0;
							left: 0;
						}
						img {
							height: 100%;
						}
					}
					.card-cont {
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						@include flexbox();
						@include flex-direction(column);
						padding: 10%;
						@include box-sizing(border-box);
						.cont-count {
							color: $font-white;
							font-family: 'NanumSquare', sans-serif;
							font-weight: 800;
							font-size: 1.15rem;
						}
						.cont-eval {
							margin-top: 120%;
							width: 100%;
							height: 2rem;
							@include flexbox();
							img {
								height: 2rem;
								width: auto;
								margin-right: 1rem;
							}
						}
						.cont-comment {
							border-left: 1px solid $white;
							margin-top: 2rem;
							width: 100%;
							p {
								margin-left: 5%;
								width: 95%;
								word-break: keep-all;
								color: $font-white;
								font-size: 1.35rem;
								line-height: 1.5;
								font-family: 'NanumSquare', sans-serif;
							}
						}
					}
				}
			}
		}
		.class-info__cont {
			width: 40%;
			margin-left: 3%;
			margin-right: 7%;
			@include flexbox();
			@include flex-direction(column);
			@include align-items(center);
			.info-cont__text {
				width: 100%;
				@include flexbox();
				@include flex-direction(column);
				@include align-items(center);
				.text-title-line {
					width: 100%;
					height: 8rem;
					position: relative;
					span {
						display: block;
						width: 1px;
						height: 8rem;
						background-color: $gray1;
						opacity: 0;
						margin-left: 50%;
						@include transform-origin(center top);
						@include transition(all 0.5s ease);
					}
					&.appear {
						span {
							@include animation(title-line 0.5s ease);
							opacity: 1;
							height: 8rem;
						}
					}
				}
				.text-title {
					font-family: 'TmonMonsori';
					font-size: 2.9rem;
					text-shadow: -1px -1px 0 $gray1, 1px -1px 0 $gray1, -1px 1px 0 $gray1, 1px 1px 0 $gray1;  
					margin-top: 2rem;
					text-align: center;
					margin-bottom: 2rem;
					color: $class-bg;
					opacity: 0;
					@include transition(all 0.5s ease);
					&.appear {
						@include animation(title 0.5s ease);
						opacity: 1;
					}
				}
				.text-desc {
					width: 50%;
					font-family: 'NanumSquare', sans-serif;
					color: $gray2;
					font-size: 1.15rem;
					line-height: 1.5;
					word-break: keep-all;
					text-align: center;
					opacity: 0;
					&.appear {
						@include animation(class-type 0.5s ease);
						opacity: 1;
					}
				}
			}
			.info-cont__benefit {
				margin-top: 4rem;
				width: 100%;
				@include flexbox();
				@include justify-content(center);
				.benefit-tab {
					width: 23%;
					@include flexbox();
					@include flex-direction(column);
					@include align-items(center);
					opacity: 0;
					&.appear {
						@include animation(class-type 0.5s ease);
						opacity: 1;
					}
					img {
						height: 5rem;
					}
					span {
						font-family: 'NanumSquare', sans-serif;
						color: $gray2;
						text-align: center;
						font-size: 1.35rem;
						margin-top: 1.35rem;
						display: block;
						width: 100%;
					}
				}
			}
			.info-cont__btn {
				margin-top: 4rem;
				width: 100%;
				height: 6rem;
				text-decoration: none;
				display: block;
				.btn-name {
					font-family: 'NanumSquare', sans-serif;
					font-size: 1.35rem;
					line-height: 2.5;
					font-weight: 800;
					color: $gray1;
					text-align: center;
					padding: 1.5rem 5rem;
					background-color: $yellow;
					border-radius: 5rem;
					text-decoration: none;
					@include transition(all 0.5s ease);
					margin-left: 35%;
					opacity: 0;
					&.appear {
						opacity: 1;
					}
					&:hover {
						@include box-shadow(0 5px 15px $shadow);
					}
				}
			}
		}
	}
}
.container-cost {
	width: 100%;
	@include box-sizing(border-box);
	padding: 0 10%;
	position: relative;
	@include flexbox();
	.cost-wrapper {
		width: 70%;
		position: relative;
		@include flexbox();
		.cost-tab {
			width: 20%;
			@include flexbox();
			@include flex-direction(column);
			@include align-items(center);
			@include box-sizing(content-box);
			padding: 5%;
			font-family: 'NanumSquare', sans-serif;
			color: $gray2;
			border: 1px solid $gray3;
			margin-right: 1rem;
			@include transition(all 0.5s ease);
			position: relative;
			&:hover {
				border: 1px solid $blue;
				.cost-tab__icon {
					.cost-tab__icon-effect {
						@include animation(icon-effect 0.5s ease infinite);
					}
				}
			}
			&.choose {
				border: 1px solid $blue;
				.cost-tab__choose {
					span {
						background-color: $blue;
						color: $font-white;
					}
				}
			}
			.cost-tab__icon {
				width: 100%;
				height: 12rem;
				position: relative;
				.cost-tab__icon-icon {
					width: 70%;
					height: auto;
					position: absolute;
					bottom: 3rem;
					margin-left: 15%;
				}
				.cost-tab__icon-effect {
					width: 80%;
					height: auto;
					position: absolute;
					top: 0;
					left: 10%;
				}
				.cost-tab__icon-title {
					font-size: 1.35rem;
					font-weight: 700;
					margin-top: 1.35rem;
					position: absolute;
					bottom: 0;
					width: 100%;
					text-align: center;
				}
			}
			.cost-tab__option {
				margin-top: 2rem;
				width: 100%;
				@include flexbox();
				@include flex-direction(column);
				@include align-items(center);
				.option {
					width: 100%;
					@include flexbox();					
					@include align-items(center);
					@include justify-content(center);
					margin-top: 1.5rem;
					.option-icon {
						height: 2.5rem;
						width: auto;
						cursor: pointer;
					}
					.option-input {
						width: 3.5em;
						height: 3rem;
						border: 1px solid #eaeaea;
						font-size: 1.15rem;
						line-height: 3rem;
						font-weight: 700;
						border-radius: 5px;
						margin-left: 1rem;
						margin-right: 1rem;
						text-align: center;
					}
					.option-unit {
						width: 2.2rem;
						height: 3rem;
						text-align: center;
						font-size: 1.15rem;
						line-height: 3rem;
						margin-right: 1rem;
						display: inline-block;
					}
				}
			}
			.cost-tab__benefit {
				color: $gray3;
				text-align: center;
				width: 100%;
				font-size: 1.15rem;
				line-height: 1.5;
				margin-top: 2rem;
			}
			.cost-tab__total {
				margin-top: 2rem;
				font-family: 'TmonMonsori'; 
				font-size: 3rem;
				text-align: center;
				width: 100%;
			}
			.cost-tab__choose {
				@include flexbox();
				@include justify-content(center);
				width: 100%;
				margin-top: 2rem;
				span {
					font-size: 1.15rem;
					color: $blue;
					padding: 1rem 4rem;
					border-radius: 5rem;
					border: 1px solid $blue;
					background-color: transparent;
					cursor: pointer;
					&:hover {
						background-color: $blue;
						color: $font-white;
					}
				}
			}
		}
	}
	.cost-final {
		width: 30%;
		@include flexbox();
		@include flex-direction(column);
		text-align: right;
		.cost-final__list {
			width: 90%;
			margin-top: 2rem;
			font-family: 'NanumSquare', sans-serif;
			color: $gray2;
			font-size: 1.15rem;
			line-height: 1.8;
			margin-left: 10%; 
		}
		.cost-final__result {
			width: 90%;
			margin-top: 5rem;
			@include flexbox();
			@include flex-direction(column);
			text-align: right;
			border-bottom: 1px solid $gray3;
			margin-left: 10%; 
			.result-title {
				font-family: 'NanumSquare', sans-serif;
				color: $gray2;
				font-size: 2.5rem;
				width: 100%;
				display: block;
			}
			.result-money {
				font-family: 'TmonMonsori';
				color: $blue;
				margin-top: 1rem;
				font-size: 4.5rem;
				margin-bottom: 1rem;
				width: 100%;
				display: block;
			}
		}
		.cost-final__next {
			width: 100%;
			@include flexbox();
			@include box-sizing(border-box);
			padding-left: 10%; 
			margin-top: 2rem;
			position: relative;
			.next-reset {
				width: 25%;
				margin-right: 2%;
				color: $font-white;
				background-color: $gray2;
				padding-top: 1.35rem;
				padding-bottom: 1.35rem;
				font-size: 1.35rem;
				text-align: center;
				cursor: pointer;
				display: inline-block;
				position: relative;
				font-family: 'NanumSquare', sans-serif;
			}
			.next-step {
				width: 73%;
				color: $gray1;
				background-color: $yellow;
				padding-top: 1.35rem;
				padding-bottom: 1.35rem;
				font-size: 1.35rem;
				text-align: center;
				cursor: pointer;
				display: inline-block;
				position: relative;
				font-family: 'NanumSquare', sans-serif;
			}
		}
	}
}
@media screen and (min-width: 1920px) {
html {
	font-size: $desktop-large;
}
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
.container-class {
	.class-info {
		&:nth-of-type(1) {
		}
		&:nth-of-type(2) {
			.class-info__review {
				.mCustomScrollBox {
					.mCSB_container {
					}
				}
				.info-review-card-list {
					.review-card {
					}
				}
			}
			.class-info__cont {
			}
		}
		.class-info__review {
			.mCustomScrollBox {
				.mCSB_container {
				}
			}
			.info-review-card-list {		
				.review-card {
					&.appear{
					}
					.card-img {
						&:after {
						}
						img {
						}
					}
					.card-cont {
						.cont-count {
						}
						.cont-eval {
							margin-top: 155%;
							img {
							}
						}
						.cont-comment {
							p {
							}
						}
					}
				}
			}
		}
		.class-info__cont {
			.info-cont__text {
				.text-title-line {
					span {
					}
					&.appear {
						span {
						}
					}
				}
				.text-title {
					&.appear {
					}
				}
				.text-desc {
					&.appear {
					}
				}
			}
			.info-cont__benefit {
				.benefit-tab {
					&.appear {
					}
					img {
					}
					span {
					}
				}
			}
			.info-cont__btn {
				.btn-name {
					&.appear {
					}
				}
			}
		}
	}
}
.container-cost {
	.cost-wrapper {
		.cost-tab {
			width: 25%;
			padding: 3%;
			&:hover {
				.cost-tab__icon {
					.cost-tab__icon-effect {
					}
				}
			}
			&.choose {
				.cost-tab__choose {
					span {
					}
				}
			}
			.cost-tab__icon {
				.cost-tab__icon-icon {
				}
				.cost-tab__icon-effect {
				}
				.cost-tab__icon-title {
				}
			}
			.cost-tab__option {
				.option {
					.option-icon {
					}
					.option-input {
						width: 2.5em;
					}
					.option-unit {
					}
				}
			}
			.cost-tab__benefit {
			}
			.cost-tab__total {
			}
			.cost-tab__choose {
				span {
				}
			}
		}
	}
	.cost-final {
		.cost-final__list {
		}
		.cost-final__result {
			.result-title {
			}
			.result-money {
			}
		}
		.cost-final__next {
			.next-reset {
			}
			.next-step {
			}
		}
	}
}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
.container {
	.container-title {
		.title-line {
		}
		.title {
		}
	}
	.container-content {
		.icon-warpper {
			width: 100%;
			padding: 0 16%;
			.icon-tab {
				width: calc(70% / 3);
				margin-left: 15%;
				.icon-tab__img {
					width: 100%;
					height: 13rem;
					position: relative;
					text-decoration: none;
					@include flexbox();
					@include justify-content(center);
					.tab-img__icon {
						width: 100%;
						position: absolute;
						bottom: 0;
						left: 0;
					}
					.tab-img__icon-effect {
						width: 100%;
						position: absolute;
						top: 0;
						left: 0;
						&.effect {
							@include animation(icon-effect 0.5s ease infinite);
						}
					}
				}
				.icon-tab__subtitle {
					width: 100%;
					text-align: center;
					margin-top: 3rem;
					color: $gray3;
					font-size: 1rem;
					word-break: keep-all;
					display: block;
				}
				.icon-tab__title {
					width: 100%;
					text-align: center;
					color: $gray2;
					font-size: 2rem;
					margin-top: 1.15rem;
					font-weight: 700;
					display: block;
				}
			}
		}
	}
}
.container-class {
	.class-info {
		&:nth-of-type(1) {
		}
		&:nth-of-type(2) {
			.class-info__review {
				.mCustomScrollBox {
					.mCSB_container {
					}
				}
				.info-review-card-list {
					.review-card {
					}
				}
			}
			.class-info__cont {
			}
		}
		.class-info__review {
			.mCustomScrollBox {
				.mCSB_container {
				}
			}
			.info-review-card-list {
			width: 123vw;		
				.review-card {
					width: 23%;
					&.appear{
					}
					.card-img {
					}
					.card-cont {
						.cont-count {
						}
						.cont-eval {
							margin-top: 121%;
							img {
							}
						}
						.cont-comment {
							p {
							}
						}
					}
				}
			}
		}
		.class-info__cont {
			.info-cont__text {
				.text-title-line {
					span {
					}
					&.appear {
						span {
						}
					}
				}
				.text-title {
					&.appear {
					}
				}
				.text-desc {
					width: 60%;
					&.appear {
					}
				}
			}
			.info-cont__benefit {
				.benefit-tab {
					width: 27%;
					&.appear {
					}
					img {
					}
					span {
					}
				}
			}
			.info-cont__btn {
				.btn-name {
					margin-left: 28%;
					&.appear {
					}
				}
			}
		}
	}
}
.container-cost {
	display: block;
	.cost-wrapper {
		width: 100%;
		.cost-tab {
			width: calc((100% - 4rem) / 3);
			padding: 3%;
			margin-right: 0;
			margin-left: 2rem;
			@include box-sizing(border-box);
			&:nth-of-type(1) {
				margin-left: 0;
			}
			&.choose {
				.cost-tab__choose {
					span {
					}
				}
			}
			.cost-tab__icon {
				.cost-tab__icon-icon {
				}
				.cost-tab__icon-effect {
				}
				.cost-tab__icon-title {
				}
			}
			.cost-tab__option {
				.option {
					.option-icon {
					}
					.option-input {
						width: 2.5em;
					}
					.option-unit {
					}
				}
			}
			.cost-tab__benefit {
			}
			.cost-tab__total {
			}
			.cost-tab__choose {
				span {
				}
			}
		}
	}
	.cost-final {
		width: 55%;
		margin-left: 45%;
		.cost-final__list {
		}
		.cost-final__result {
			.result-title {
			}
			.result-money {
			}
		}
		.cost-final__next {
			.next-reset {
			}
			.next-step {
			}
		}
	}
}
}
@media screen and (max-width: 768px) {
.jumbotron {
	.jumbotron-img {
		img {
			width: auto;
			height: 100%;
		}
	}
}
.container {
	.container-title {
		.title-line {
		}
		.title {
		font-size: 2rem;
		}
	}
	.container-content {
		.icon-warpper {
			padding: 0 10%;
			.icon-tab {
				width: calc(84% / 3);
				margin-left: 8%;
				.icon-tab__img {
					width: 100%;
					height: 6rem;
				}
				.icon-tab__subtitle {
					margin-top: 2rem;
					font-size: 1rem;
					line-height: 1.2;
					display: none;
				}
				.icon-tab__title {
					font-size: 1.5rem;
					margin-top: 1.5rem;
				}
			}
		}
	}
}
.container-class {
	.class-info {
		@include flex-direction(column);
		&:nth-of-type(1) {
		}
		&:nth-of-type(2) {
			padding-top: 0;
			.class-info__review {
				width: 100%;
				.mCustomScrollBox {
					.mCSB_container {
					}
				}
				.info-review-card-list {
					.review-card {
					}
				}
			}
			.class-info__cont {
				position: absolute;
				top: 100%;
				margin-right: 0;
				margin-left: 0;
			}
		}
		&:nth-of-type(3) {
			margin-top: 100%;
			.class-info__review {
				.mCustomScrollBox {
					.mCSB_container {
					}
				}
				.info-review-card-list {
					.review-card {
					}
				}
			}
			.class-info__cont {
			}
		}
		.class-info__review {
			height: 35rem;
			width: 100%;
			.mCustomScrollBox {
				.mCSB_container {
				}
			}
			.info-review-card-list {
			width: 310vw;
			height: 35rem;
				.review-card {
					width: 18%;
					height: 30rem;
					&.appear{
					}
					.card-img {
					}
					.card-cont {
						.cont-count {
						}
						.cont-eval {
							margin-top: 121%;
							img {
								height: 1.6rem;
								margin-right: 0.7rem;
							}
						}
						.cont-comment {
							margin-top: 1.5rem;
							p {
								font-size: 1.1rem;
							}
						}
					}
				}
			}
		}
		.class-info__cont {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			.info-cont__text {
				.text-title-line {
					span {
					}
				}
				.text-title {
					font-size: 2rem;
				}
				.text-desc {
					width: 70%;
					&.appear {
					}
				}
			}
			.info-cont__benefit {
				.benefit-tab {
					width: 27%;
					img {
						height: 4.3rem;
					}
					span {
						font-size: 1.1rem;
					}
				}
			}
			.info-cont__btn {
				.btn-name {
					margin-left: 30%;
					font-size: 1.15rem;
					padding: 1.3rem 4rem;
				}
			}
		}
	}
}
.container-cost {
	display: block;
	padding: 0 $margin-mobile;
	.cost-wrapper {
		width: 100%;
		@include flex-direction(column);
		.cost-tab {
			@include flex-direction(row);
			margin-left: 0;
			margin-right: 0;
			width: 100%;
			height: 21rem;
			@include box-sizing(border-box);
			margin-bottom: 1rem;
			&:nth-of-type(1) {
				margin-left: 0;
			}
			&.choose {
				.cost-tab__choose {
					span {
					}
				}
			}
			.cost-tab__icon {
				width: 40%;
				height: 10rem;
				.cost-tab__icon-icon {
				}
				.cost-tab__icon-effect {
				}
				.cost-tab__icon-title {
					word-break: keep-all;
					line-height: 1.5;
				}
			}
			.cost-tab__option {
				width: 60%;
				position: absolute;
				top: 0;
				right: 0;
				margin-top: 1rem;
				.option {
					margin-top: 1.2rem;
					.option-icon {
					}
					.option-input {
						width: 2.5em;
					}
					.option-unit {
					}
				}
			}
			.cost-tab__benefit {
				display: none;
			}
			.cost-tab__total {
				width: 60%;
				position: absolute;
				right: 0;
				padding-right: 9%;
				text-align: right;
				font-size: 2rem;
			}
			.cost-tab__choose {
				width: 60%;
				position: absolute;
				right: 0;
				top: 65%;
				display: inline;
				margin-top: 3rem;
				span {
					font-size: 1.1rem;
					padding: 1rem 3rem;
					margin-left: 43%;
				}
			}
		}
	}
	.cost-final {
		width: 78%;
		margin-left: 22%;
		.cost-final__list {
		}
		.cost-final__result {
			.result-title {
			}
			.result-money {
				font-size: 3.5rem;
			}
		}
		.cost-final__next {
			margin-top: 1rem;
			.next-reset {
				font-size: 1.1rem;
			}
			.next-step {
				font-size: 1.1rem;
			}
		}
	}
}
}