@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';

html {
	font-size: 12px;
}
body {
	width: 100%;
	overflow-x: hidden;
}
.img-filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $gray1-300;
}
.footer {
	width: 100%;
	position: relative;
	margin-top: 15vw;
	.footer-insta {
		width: 100%;
		position: relative;
		@include flexbox();
		.insta-part {
			width: 60vw;
			@include flexbox();
			position: relative;
			.insta-tab {
				position: relative;
				@include flexbox();
				@include justify-content(center);
				overflow: hidden;
				&:hover {
					img {
						@include transform(scale(1.05));
					}
				}
				img {
					width: 100%;
					height: auto;
					position: relative;
					@include transition(all 0.5s ease);
				}
				span {
					position: absolute;
					color: $font-white;
					font-family: 'NanumSquare', sans-serif;
					font-size: 1.35rem;
					border: 1px solid $white;
					padding: 1.5rem 4rem;
					border-radius: 5rem;
					text-align: center;
					bottom: 0;
					margin-bottom: 2rem; 
					cursor: pointer;
					@include transition(all 0.5s ease);
					&:hover {
						background-color: $white;
						color: $blue;
					}
				}
				&.pic1 {
					width: 40vw;
					height: 40vw;
				}
				&.pic2 {
					width: 40vw;
					height: 20vw;
				}
				&.pic3 {
					width: 20vw;
					height: 20vw;
				}

			}
			.pic3-wrapper {
				width: 20vw;
				@include flexbox();
				@include flex-direction(column);
				@include align-items(center);
				position: relative;
				overflow: hidden;
				.pic3 {
					width: 20vw;
					height: 20vw;
					position: relative;
					@include flexbox();
					@include justify-content(center);
					overflow: hidden;
					&:hover {
						img {
							@include transform(scale(1.05));
						}
					}
					img {
						width: 100%;
						position: relative;
						@include transition(all 0.5s ease);
					}
					span {
						position: absolute;
						color: $font-white;
						font-family: 'NanumSquare', sans-serif;
						font-size: 1.35rem;
						border: 1px solid $white;
						padding: 1.5rem 4rem;
						border-radius: 5rem;
						text-align: center;
						bottom: 0;
						margin-bottom: 2rem;
						cursor: pointer;
						@include transition(all 0.5s ease);
						&:hover {
							background-color: $white;
							color: $blue;
						}
					}
				}
			}
			&.small {
				width: 40vw;
				@include flex-wrap(wrap);
			}
		}
	}
	.footer-info {
		width: 100%;
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		@include justify-content(center);
		@include box-sizing(border-box);
		padding-top: 3%;
		padding-bottom: 2%;
		background-color: $blue;
		.footer-logo {
			width: 6%;
			@include flexbox();
			@include flex-direction(column);
			@include align-items(center);
			img {
				width: 100%;
				&:nth-of-type(1) {
					margin-bottom: 1.5rem;
				}
			}
		}
		.footer-sns {
			margin-top: 3rem;
			height: 8rem;
			@include flexbox();
			@include justify-content(center);
			.sns-tab {
				@include flexbox();
				@include flex-direction(column);
				@include align-items(center);
				width: 9rem;
				position: relative;
				.sns-tab__icon {
					width: 3.5rem;
					height: 3.5rem;
					cursor: pointer;				
				}	
				.sns-tab__tooltip {
					position: relative;
					width: 7rem;
					padding: 7% 0;
					color: $gray1;
					font-family: 'NanumSquare', sans-serif;
					font-size: 1.15rem;
					font-weight: 800;
					letter-spacing: 0.1rem;
					text-align: center;
					background-color: $yellow;
					border-radius: 0.5rem;
					opacity: 0;
					@include flexbox();
					@include justify-content(center);
					margin-top: 0.3rem;
					&:before {
						content: '';
						width: 0.6rem;
						height: 0.6rem;
						display: block;
						border-top: 10px solid $yellow;
						border-left: 10px solid $yellow;
						border-radius: 0.5rem;
						@include transform(rotate(45deg));
						position: absolute;
						top: -0.5rem;
					}
				}
			}
		}
		.footer-rights {
			text-align: center;
			color: $font-white;
			font-size: 1.15rem;
			font-family: 'NanumSquare', sans-serif;
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {}
@media screen and (min-width: 320px) and (max-width: 767px) {
}