@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';
@import 'base/variable.scss';
@import 'base/keyframes.scss';

html {
	font-size: $desktop;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
body {
	width: 100%;
	overflow-x: hidden;
}
.visual {
	width: 100%;
	height: calc(100vh - 85px);
	overflow: hidden;
	position: relative;
	.visual-container {
		width: 100%;
		height: 100%;
		position: relative;
		.visual-slide {
			display: none;
			@include flex-direction(column);
			width: 100%;
			height: 100%;
			position: relative;
			&.current {
				@include flexbox();
			}
			.visual-slide__top {
				@include flexbox();
				width: 100%;
				height: 70%;
				position: relative;
				.top-main-slide {
					width: calc(((100% - 170px) / 6)*5 + 85px);
					height: 100%;
					position: relative;
					.main-slide-img {
						width: 100%;
						height: 100%;
						position: relative;
						.main-slide-wrapper {
							width: 100%;
							height: 100%;
							position: relative;
							overflow: hidden;
							&.current {
								img {
									@include animation(main-slide-img 1s ease);
								}
								.main-slide-img__cover {
									@include animation(main-slide-img__cover 0.5s ease);
									width: 0;
								}
							}
							img {
								height: auto;
								width: 100%;
								position: absolute;
								top: 0;
								right: 0;
							}
							.main-slide-img__cover {
								width: 100%;
								height: 100%;
								background-color: $white;
								position: absolute;
								top: 0;
								right: 0;
								@include transition(all 0.5s ease);
								@include transform-origin(right);						
							}
						}
					}
					.main-slide-num {
						width: 10rem;
						height: 10rem;
						position: absolute;
						right: 0;
						top: 50%;
						@include transform(translate(50%,-50%));
						background-color: $white;
						z-index: 3;
						&.current {
							&:after {
								@include animation(num-box 1s ease);
								width:1rem;
							}
						}
						&:after {
							content: '';
							width: 0;
							height: 100%;
							position: absolute;
							top: 0;
							right: -1rem;
							display: inline-block;
							background-color: $yellow;
							@include transform-origin(0% 50%);
						}
						.main-slide-num__box {
							width: 4.5rem;
							height: 4.5rem;
							margin-left: 2.75rem;
							margin-top: 2.75rem;
							position: relative;
							span {
								font-size: 4.5rem;
								line-height: 1;
								color: $gray1;
								width: 100%;
								text-align: center;
								font-family: 'Teko', sans-serif;
							}
						}
					}
				}
				.top-wave-text {
					width: calc(((100% - 170px) / 6) + 85px);
					height: 100%;
					position: relative;
					overflow: hidden;
					background-color: $white;
					.wave-text-wrapper {
						width: 100%;
						height: 100%;
						@include filter(blur(5px) contrast(40));
						overflow: hidden;
						position: relative;
						&.current {
							.wave-text {
								@include animation(rental-slide 1s ease);
								opacity: 1;
							}
							.wave-text-cover {
								@include animation(wave-text-cover 1.5s ease);
								left: 100%;
							}
						}
						.wave-text {
							width: calc(70vh - 85px);
							font-family: 'TmonMonsori'; 
							color: $yellow;
							font-size: 9.5rem;
							letter-spacing: 2rem;
							position: relative;
							text-align: center;
							@include transform(rotate(-90deg) translate(-35%, 40%));
							background-color: $white;
							opacity: 0;
						}
						.wave-text-cover {
							width: 100%;
							height: 100%;
							background-color: $yellow;
							position: absolute;
							top: 0;
							left: 100%;
						}
					}
				}
			}
			.visual-slide__bottom {
				@include flexbox();
				width: 100%;
				height: 30%;
				position: relative;
				.bottom-main-cont {
					@include box-sizing(border-box);
					width: calc(((100% - 170px) / 6)*5 + 85px);
					height: 100%;
					display: block;
					padding: 3rem 85px 0 85px;
					position: relative;
					&.current {
						.main-cont__title {
							@include animation(ltr-20px 1s ease);
							opacity: 1;
							
						}
						.main-cont__desc {
							@include animation(ltr-20px 1s ease);
							opacity: 1;
						}	
					}			
					.main-cont__title {
						@include flexbox();
						width: 100%;
						height: 5rem;
						position: relative;
						opacity: 0;
						.title-text {
							color: $gray1;
							font-family: 'TmonMonsori'; 
							font-size: 3rem;
							line-height: 3.15rem;
							width: 22%;
							@include transition(all 0.5s ease);
						}
						.title-btn {
							margin-left: 2rem;
							width: 20rem;
							a {
								font-family: 'NanumSquare', sans-serif;
								font-size: 1.15rem;
								line-height: 1;
								color: $blue;
								border: 1px solid $blue;
								padding: 1rem 2.5rem;
								display: inline-block;
								border-radius: 5rem;
								cursor: pointer;
								text-decoration: none;
								@include transition(all 0.5s ease);
								background-color: transparent;
								&:hover {
									background-color: $blue;
									color: $font-white;
								}
							}
						}
					}
					.main-cont__desc {
						position: relative;
						width: 30%;
						word-break: keep-all;
						margin-top: 1rem;
						font-size: 1.15rem;
						line-height: 1.5;
						font-family: 'NanumSquare', sans-serif;
						color: $gray2;
						opacity: 0;
					}
					.main-cont__bar {
						width: 100%;
						height: 1rem;
						position: absolute;
						bottom: 0;
						left: 0;
						background-color: $white;
						&.current {
							&:after {
								@include animation(loading-bar 5s linear);
								width: 100%;
							}
						}
						&:after {
							content: '';
							width: 0%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							background-color: $yellow;
						}
					}
				}			
				.bottom-sub-slide {
					width: calc(((100% - 170px) / 6) + 85px);
					height: 100%;
					position: relative;
					overflow: hidden;
					z-index: 3;
					&.current {
						img {
							@include animation(sub-slide-img 0.5s ease);
							opacity: 1;
						}
						.sub-slide__cover {
							@include animation(main-slide-img__cover 0.5s ease);
							width: 0;
						}
					}
					img {
						width: 100%;
						position: absolute;
						top: 0;
						left: 0;
						opacity: 0;
					}
					.sub-slide__cover {
						width: 100%;
						height: 100%;
						background-color: $white;
						position: absolute;
						top: 0;
						left: 0;
						@include transform-origin(left);
					}
				}
			}
		}		
	}
	.visual-dir {
		width: 170px;
		height: 85px;
		position: absolute;
		right: calc(((100% - 170px) / 6) + 85px);
		bottom: calc(30% - 85px);
		@include flexbox();
		.dir-btn {
			width: 85px;
			height: 85px;
			background-color: $gray1;
			cursor: pointer;
			opacity: 0;
			@include transition(all 0.5s ease);
			&.current {
				@include animation(dir-appear 1s ease);
				opacity: 1;
			}
			&:hover {
				background-color: $gray2;
			}
			img {
				width: 50%;
				height: auto;
				margin-left: 25%;
				margin-top: 25%;
			}
			&.prev {
				img {
					@include transform(rotate(180deg));
				}
			}
			&.next {}
		}	
	}
}
.container {
	width: 100%;
	position: relative;
	margin-top: 5rem;
	.container-title {
		width: 100%;
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		.title-line {
			width: 100%;
			height: 8rem;
			position: relative;
			span {
				display: block;
				width: 1px;
				height: 8rem;
				background-color: $gray1;
				opacity: 0;
				margin-left: 50%;
				@include transform-origin(center top);
				@include transition(all 0.5s ease);
			}
			&.appear {
				span {
					@include animation(title-line 0.5s ease);
					opacity: 1;
					height: 8rem;
				}
			}
		}
		.title {
			font-family: 'TmonMonsori';
			font-size: 2.9rem;
			text-shadow: -1px -1px 0 $gray1, 1px -1px 0 $gray1, -1px 1px 0 $gray1, 1px 1px 0 $gray1;  
			margin-top: 2rem;
			text-align: center;
			margin-bottom: 5rem;
			color: $font-white;
			opacity: 0;
			@include transition(all 0.5s ease);
			&.appear {
				@include animation(title 0.5s ease);
				opacity: 1;
			}
		}
	}
	.container-content {
		width: 100%;
		.class-warpper {
			width: 100%;
			padding: 0 10%;
			@include box-sizing(border-box);
			@include flexbox();
			@include justify-content(space-between);
			.class-type {
				width: 32%;
				margin-left: calc(4% / 3);
				font-family: 'NanumSquare', sans-serif;
				@include flexbox();
				@include flex-direction(column);
				@include align-items(center);
				opacity: 0;
				&:nth-of-type(1) {
					margin-left: 0;
				}
				&.appear {
					@include animation(class-type 1s ease);
					opacity: 1;
				}				
				&:hover {
					.class-type__img {
						img {
							@include transform(scale(1.05));
						}
					}
				}
				.class-type__img {
					width: 100%;
					overflow: hidden;
					img {
						width: 100%;
						@include transition(all 0.5s ease);
					}
				}
				.class-type__subtitle {
					font-size: 1.16rem;
					margin-top: 2.5rem;
					color: $gray1;
					font-weight: 300;
					display: inline-block;
				}
				.class-type__title {
					font-size: 2.5rem;
					margin-top: 1.16rem;
					color: $gray1;
					display: inline-block;
				}
				.class-type__btn {
					font-size: 1.35rem;
					line-height: 1;
					margin-top: 2.5rem;
					color: $blue;
					padding: 1.3rem 4rem;
					border: 1px solid $blue;
					border-radius: 5.8rem;
					margin-bottom: 5rem;
					cursor: pointer;
					@include transition(all 0.5s ease);
					display: inline-block;
					&:hover {
						background-color: $blue;
						color: $font-white;
					}
				}
			}
		}
		.location-wrapper {
			width: 100%;
			padding: 0 10%;
			@include box-sizing(border-box);
			position: relative;
			@include flexbox();
			@include flex-direction(column);
			@include align-items(center);
			background: url('../../images/index/section2-bg.png') no-repeat center center;
			background-size: contain;
			.location-intro {
				display: block;
				position: relative;
				width: calc((100% / 6) * 4);
				@include flexbox();
				opacity: 0;
				&.appear-ltr {
					@include animation(location-ltr 1s ease);
					opacity: 1;
				}
				&.appear-rtl {
					@include animation(location-rtl 1s ease);
					opacity: 1;
				}				
				.intro-image {
					width: 62.5%;
					height: 23vw;
					overflow: hidden;
					@include flexbox();
					@include justify-content(center);
					@include align-items(center);
					position: relative;
					img {
						width: 100%;
					}
				}
				.intro-tab {
					text-decoration: none;
					width: 28%;
					height: 8rem;
					background-color: $yellow;
					z-index: 2;
					@include flexbox();
					@include justify-content(center);
					@include align-items(center);
					@include transition(all 0.5s ease);
					&:hover {
						@include box-shadow(0 5px 10px $shadow);
					}
					img {
						height: 1.8rem;
						width: auto;
					}
					span {
						color: $gray1;
						font-family: 'NanumSquare', sans-serif;
						font-size: 1.6rem;
						margin-left: 5px;
						margin-right: 5px;
					}
				}
				&.left {
					.intro-tab {
						@include transform(translate(-20%, 20%));
						img {
							@include transform(rotate(180deg));
						}
					}
				}
				&.right {
					@include flex-direction(row-reverse);
					margin-top: 5rem;
					.intro-tab {
						@include transform(translate(20%, 20%));
					}
				}
			}
		}
		.gallery-wrapper {
			width: 100%;
			height: 20rem;
			padding: 0 10%;
			@include box-sizing(border-box);
			background: url('../../images/index/section3-bg.jpg') no-repeat center top;
			background-size: cover;
			@include flexbox();
			@include align-items(center);
			.gallery-title {
				color: $yellow;
				font-family: 'TmonMonsori'; 
				font-size: 9.1rem;
				line-height: 17rem;
				margin-top: 2rem;
			}
			.gallery-btn {
				margin-left: 4rem;
				font-family: 'NanumSquare', sans-serif;
				color: $gray1;
				line-height: 1;
				text-decoration: none;
				background-color: $yellow;
				border-radius: 3rem;
				padding: 1.3rem 4rem;
				font-size: 1.35rem;
			}
		}
		.rental-wrapper {
			width: 100%;
			height: 40rem;
			overflow: hidden;
			position: relative;
			.rental-slide-list {
				position: relative;
				width: 100%;
				.rental-slide {
					position: relative;
					width: 100%;
					height: 40rem;
					overflow: hidden;					
					display: none;
					img {
						width: 100%;
						position: absolute;
						top: -5%;
						left: 0;
					}
					p {
						position: absolute;
						right: 0;
						top: 0;
						text-align: right;
						font-size: 7.16rem;
						color: $yellow;
						font-family: 'TmonMonsori'; 
						line-height: 1.15;
						margin-right: 10%;
						margin-top: 7%;
					}
					&.active {
						display: block;
						@include animation(rental-slide 0.5s ease);
						p {
							@include animation(rental-slide-letter 1s ease);
						}
					}
				}
			}
			.rental-slide-nav {
				margin-left: 10%;
				width: 20%;
				height: 40rem;
				background-color: $gray1;
				position: absolute;
				top:0;
				left: 0;
				.slide-nav__tab {
					width: 100%;
					height: 25%;					
					@include flexbox();
					cursor: pointer;
					@include box-sizing(border-box);
					padding-left: 28%;
					border-top: 1px solid $gray2;
					background-color: transparent;
					@include transition(all 0.5s ease);
					&:nth-of-type(1) {
						border-top: none;
					}
					.nav-tab__icon {
						height: 40%;
						width: 20%;
						position: relative;
						margin-top: 15%;
						.tab-icon__off {
							height: 100%;
							position: relative;
							opacity: 1;
							@include transition(all 0.5s ease);
						}
						.tab-icon__on {
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							opacity: 0;
							z-index: 2;
							@include transition(all 0.5s ease);
						}
					}
					.nav-tab__name {
						margin-top: 23%;
						font-size: 1.35rem;
						line-height: 1;
						color: $font-white;
						font-weight: 700;
						font-family: 'NanumSquare', sans-serif;
						@include transition(all 0.5s ease);
						width: 80%;
						height: 40%;
						@include box-sizing(border-box);
						padding-left: 2.5rem;
					}
					&.current {
						background-color: $yellow;
						.nav-tab__icon {
							.tab-icon__off {
								opacity: 0;
							}
							.tab-icon__on {
								opacity: 1;
							}
						}
						.nav-tab__name {
							color: $gray1;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
.visual {	
	.visual-container {		
		.visual-slide {
			&.current {
			}
			.visual-slide__top {
				.top-main-slide {
					.main-slide-img {
						.main-slide-wrapper {
							&.current {
								img {									
								}
								.main-slide-img__cover {
								}
							}
							img {								
							}
							.main-slide-img__cover {					
							}
						}
					}
					.main-slide-num {
						&.current {
							&:after {
							}
						}
						&:after {
						}
						.main-slide-num__box {
							span {
							}
						}
					}
				}
				.top-wave-text {
					.wave-text-wrapper {
						&.current {
							.wave-text {
							}
							.wave-text-cover {
							}
						}
						.wave-text {
							@include transform(rotate(-90deg) translate(-35%, 22%));
						}
						.wave-text-cover {
						}
					}
				}
			}
			.visual-slide__bottom {
				.bottom-main-cont {
					&.current {
						.main-cont__title {
							
						}
						.main-cont__desc {
						}	
					}			
					.main-cont__title {
						.title-text {
							width: 32%;
						}
						.title-btn {
							a {
							}
						}
					}
					.main-cont__desc {
					}
					.main-cont__bar {
						&.current {
							&:after {
							}
						}
						&:after {
						}
					}
				}			
				.bottom-sub-slide {
					&.current {
						img {
						}
						.sub-slide__cover {
						}
					}
					img {
					}
					.sub-slide__cover {
					}
				}
			}
		}		
	}
	.visual-dir {
		.dir-btn {
			&.current {
			}
			&:hover {
			}
			img {
			}
			&.prev {
				img {
				}
			}
			&.next {}
		}	
	}
}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
.visual {
	height: 49rem;
	.visual-container {		
		.visual-slide {
			&.current {
			}
			.visual-slide__top {
				.top-main-slide {
					.main-slide-img {
						.main-slide-wrapper {
							&.current {
								img {									
								}
								.main-slide-img__cover {
								}
							}
							img {
							width: auto;
							height: 100%;
							right: -10%;						
							}
							.main-slide-img__cover {					
							}
						}
					}
					.main-slide-num {
						width: 9rem;
						height: 9rem;
						&.current {
							&:after {
							}
						}
						&:after {
						}
						.main-slide-num__box {
							span {
								font-size: 4rem;
							}
						}
					}
				}
				.top-wave-text {
					.wave-text-wrapper {
						@include filter(blur(2px) contrast(40));
						&.current {
							.wave-text {
							}
							.wave-text-cover {
							}
						}
						.wave-text {
							@include transform(rotate(-90deg) translate(-31%, -25%));
							font-size: 7rem;
						}
						.wave-text-cover {
						}
					}
				}
			}
			.visual-slide__bottom {
				.bottom-main-cont {
					&.current {
						.main-cont__title {
							
						}
						.main-cont__desc {
						}	
					}			
					.main-cont__title {
						height: 4rem;
						.title-text {
							width: 38%;
							font-size: 2.8rem;
						}
						.title-btn {
							a {
								padding: 0.8rem 2.5rem;
							}
						}
					}
					.main-cont__desc {
						width: 60%;
					}
					.main-cont__bar {
						&.current {
							&:after {
							}
						}
						&:after {
						}
					}
				}			
				.bottom-sub-slide {
					&.current {
						img {
						}
						.sub-slide__cover {
						}
					}
					img {
					}
					.sub-slide__cover {
					}
				}
			}
		}		
	}
	.visual-dir {
		width: 160px;
		height: 80px;
		bottom: calc(30% - 80px);
		.dir-btn {
			width: 80px;
			height: 80px;
			&.current {
			}
			img {
				width: 45%;
				height: auto;
				margin-left: 27.5%;
				margin-top: 27.5%;
			}
			&.prev {
				img {
				}
			}
			&.next {}
		}	
	}
}
.container {
	.container-title {
		.title-line {
		}
		.title {
			font-size: 2.9rem;
			margin-top: 2rem;
			margin-bottom: 5rem;
		}
	}
	.container-content {
		.class-warpper {
			.class-type {
				.class-type__img {
					img {
					}
				}
				.class-type__subtitle {
				}
				.class-type__title {
					font-size: 2rem;
					margin-top: 0.8rem;
				}
				.class-type__btn {
					font-size: 1.1rem;
					margin-top: 2.5rem;
					padding: 1.1rem 3rem;
				}
			}
		}
		.location-wrapper {
			.location-intro {
				width: calc((100% / 6) * 5);			
				.intro-image {
					height: 26vw;
					img {
					}
				}
				.intro-tab {
					img {
					}
					span {
					}
				}
				&.left {
					.intro-tab {
						img {
						}
					}
				}
				&.right {
					.intro-tab {
					}
				}
			}
		}
		.gallery-wrapper {
			height: 24rem;
			.gallery-title {
				font-size: 6.1rem;
				line-height: 1;
				margin-top: 1rem;
			}
			.gallery-btn {
				margin-left: 4rem;
				line-height: 1;
				border-radius: 4rem;
				padding: 1.1rem 3rem;
				font-size: 1.1rem;
			}
		}
		.rental-wrapper {
			height: 40rem;
			.rental-slide-list {
				.rental-slide {
					height: 40rem;
					img {
						width: auto;
						height: 100%;
						top: 0;
						left: 0;
					}
					p {						
						text-align: right;
						font-size: 5.5rem;
						line-height: 1.15;
						margin-right: 7%;
						margin-top: 14%;
					}
				}
			}
			.rental-slide-nav {
				margin-left: 0;
				width: 25%;
				height: 40rem;
				.slide-nav__tab {
					width: 100%;
					height: 25%;
					padding-left: 23%;
					.nav-tab__icon {
						margin-top: 18%;
						.tab-icon__off {
							height: 100%;
						}
						.tab-icon__on {
						}
					}
					.nav-tab__name {
						margin-top: 26%;
						font-size: 1.35rem;
					}					
				}
			}
		}
	}
}
}
@media screen and (max-width: 768px) {
.visual {
	height: 49rem;
	.visual-container {
		.visual-slide {
			&.current {
			}
			.visual-slide__top {
				.top-main-slide {
					width: 100%;
					.main-slide-img {
						.main-slide-wrapper {
							img {
							width: 100%;
							height: auto;
							right: 0;						
							}
							.main-slide-img__cover {					
							}
						}
					}
					.main-slide-num {
						display: none;
					}
				}
				.top-wave-text {
					display: none;
				}
			}
			.visual-slide__bottom {
				.bottom-main-cont {
					width: 100%;
					padding: 30px $margin-mobile 0 $margin-mobile;	
					.main-cont__title {
						height: 3rem;
						.title-text {
							width: 77%;
							font-size: 2.2rem;
						}
						.title-btn {
							width: 23%;
							margin-left: 0;
							a {
								padding: 0.6rem 1.5rem;
								font-size: 1rem;
							}
						}
					}
					.main-cont__desc {
						width: 80%;
					}
					.main-cont__bar {
						&.current {
							&:after {
							}
						}
						&:after {
						}
					}
				}			
				.bottom-sub-slide {
					display: none;
				}
			}
		}		
	}
	.visual-dir {
		width: 160px;
		height: 80px;
		bottom: 30%;
		right: 0;
		opacity: 0.8;
		.dir-btn {
			width: 80px;
			height: 80px;
			&.current {
			}
			img {
				width: 45%;
				height: auto;
				margin-left: 27.5%;
				margin-top: 27.5%;
			}
			&.prev {
				img {
				}
			}
			&.next {}
		}	
	}
}
.container {
	.container-title {
		.title-line {
		}
		.title {
			font-size: 2rem;
		}
	}
	.container-content {
		.class-warpper {
			padding: 0 $margin-mobile;
			@include justify-content(unset);
			@include flex-direction(column);
			.class-type {
				width: 100%;
				.class-type__img {
					img {
					}
				}
				.class-type__subtitle {
				}
				.class-type__title {
					font-size: 2rem;
					margin-top: 0.8rem;
				}
				.class-type__btn {
					font-size: 1.1rem;
					margin-top: 2.5rem;
					padding: 1.1rem 3rem;
				}
			}
		}
		.location-wrapper {
			padding: 0 $margin-mobile;
			.location-intro {
				width: 100%;			
				.intro-image {
					width: 64.5%;
					height: 12rem;
					img {
					}
				}
				.intro-tab {
					width: 30%;
					@include flex-direction(column);
					img {
					}
					span {
						font-size: 1.15rem;
						display: inline-block;					
					}
				}
				&.left {
					.intro-tab {
						img {
							margin-bottom: 10px 
						}
					}
				}
				&.right {
					.intro-tab {
						img {
							margin-top: 10px
						}
					}
				}
			}
		}
		.gallery-wrapper {
			height: 20rem;
			padding: 0 $margin-mobile;
			background-size: 200%;
			background-position: center center;
			.gallery-title {
				font-size: 3rem;
				line-height: 1;
				margin-top: 1rem;
				width: 75%;
			}
			.gallery-btn {
				margin-left: 0;
				padding: 1rem 1.5rem;
				font-size: 1rem;
				display: inline-block;
				width: 25%;
				text-align: center
			}
		}
		.rental-wrapper {
			height: 40rem;
			.rental-slide-list {
				.rental-slide {
					height: 40rem;
					img {
						width: auto;
						height: 100%;
						top: 0;
						left: auto;
						right: -75%;
					}
					p {						
						font-size: 3.5rem;
						line-height: 1.15;
						margin-right: $margin-mobile;
						margin-top: 6%;
					}
				}
			}
			.rental-slide-nav {
				margin-left: 0;
				width: 100%;
				height: 8rem;
				@include flexbox();
				top: auto;
				bottom: 0;
				.slide-nav__tab {
					width: 25%;
					height: 100%;
					padding-left: 0%;
					@include flexbox();
					@include flex-direction(column);
					.nav-tab__icon {
						margin-top: 18%;
						width: 100%;
						.tab-icon__off {
							height: 100%;
							margin-left: 30%;
						}
						.tab-icon__on {
							height: 100%;
							margin-left: 30%;
						}
					}
					.nav-tab__name {
						margin-top: 14%;
						font-size: 1.15rem;
						padding: 0;
						width: 100%;
						text-align: center;
					}					
				}
			}
		}
	}
}
}