@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';
@import 'base/variable.scss';
@import 'base/keyframes.scss';

html {
	font-size: $desktop;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
body {
	width: 100%;
	overflow-x: hidden;
}
.header {
	.gnb {
		.gnb-list {
			.gnb-tab {
				&:nth-of-type(1) {
					a {
						span {
							color: $blue;
						}
					}
					&:hover {
						a {
							span {
								color: $font-white;
							}
						}
					}
				}
			}
		}
	}
}
.jumbotron {
	width: 100%;
	height: 24rem;
	overflow: hidden;
	position: relative;
	.jumbotron-img {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		@include flexbox();
		@include justify-content(center);
		@include align-items(center);
		img {
			width: 100%;
		}
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			background-color: $gray1-700;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.jumbotron-title {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@include flexbox();
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);
		img {
			height: 3.2rem;
			width: auto;
		}
		p {
			font-size: 2rem;
			color: $font-white;
			font-family: 'NanumSquare', sans-serif;
			text-align: center;
			width: 40%;
			margin-top: 1.5rem;
			word-break: keep-all;
		}
	}
}
.container {
	width: 100%;
	position: relative;
	margin-top: 5rem;
	.container-title {
		width: 100%;
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		text-align: center;
		.title-line {
			width: 100%;
			height: 8rem;
			position: relative;
			span {
				display: block;
				width: 1px;
				height: 8rem;
				background-color: $gray1;
				opacity: 0;
				margin-left: 50%;
				@include transform-origin(center top);
				@include transition(all 0.5s ease);
			}
			&.appear {
				span {
					@include animation(title-line 0.5s ease);
					opacity: 1;
					height: 8rem;
				}
			}
		}
		.title {
			font-family: 'TmonMonsori';
			font-size: 2.9rem;
			text-shadow: -1px -1px 0 $gray1, 1px -1px 0 $gray1, -1px 1px 0 $gray1, 1px 1px 0 $gray1;  
			margin-top: 2rem;
			text-align: center;
			margin-bottom: 5rem;
			color: $font-white;
			opacity: 0;
			@include transition(all 0.5s ease);
			&.appear {
				@include animation(title 0.5s ease);
				opacity: 1;
			}
		}
		.description {
			text-align: center;
			width: 40%;
			font-family: 'NanumSquare', sans-serif;
			color: $gray1;
			font-size: 1.2rem;
			line-height: 1.8;
			word-break: keep-all;
			opacity: 0;
			&.appear {
				@include animation(title-desc 0.5s ease);
				opacity: 1;
			}
		}
		.button {
			margin-top: 3.5rem;
			width: 100%;
			height: 5rem;
			text-align: center;
			opacity: 0;
			&.appear {
				@include animation(title-desc 0.5s ease);
				opacity: 1;
			}
			.button-tab {
				background-color: $yellow;
				color: $gray1;
				font-family: 'NanumSquare', sans-serif;
				font-size: 1.6rem;
				line-height: 1;
				font-weight: 700;
				padding: 1.5rem 5rem;
				border-radius: 5rem;
				cursor: pointer;
				@include transition(all 0.5s ease);
				&:hover {
					@include box-shadow(0 5px 10px $shadow);
				}
			}			
		}
	}
	.container-content {
		width: 100%;
		position: relative;
		.location-warpper {
			width: 100%;
			height: 50rem;
			@include box-sizing(border-box);
			padding: 0 10%;
			position: relative;
			@include flexbox();
			.location-map {
				width: calc((100% / 6) * 4);
				height: 100%;
				@include flexbox();
				@include justify-content(center);
				@include align-items(center);
				overflow: hidden;
				img {
					width: 100%;
				}
			}
			.location-tab-wrapper {
				width: calc((100% / 6) * 2);
				height: 100%;
				@include flexbox();
				@include flex-direction(column);
				background-color: $gray1;
				.location-tab-desc {
					width: 100%;
					height: 44%;
					@include box-sizing(border-box);
					padding: 10%;
					color: $font-white;
					font-family: 'NanumSquare', sans-serif;
					.tab-desc__title {
						width: 100%;
						font-size: 2rem;
						font-weight: 700;
					}
					.tab-desc__desc {
						width: 100%;
						font-size: 1.2rem;
						line-height: 1.5;
						margin-top: 2rem;
						word-break: keep-all;
					}
				}
				.location-tab {
					width: 100%;
					height: 14%;
					@include box-sizing(border-box);
					padding: 0 10%;
					@include flexbox();
					@include align-items(center);
					border-top: 1px solid $gray2;
					img {
						height: 2.2rem;
						width: auto;
					}
					p {
						width: 100%;
						font-family: 'NanumSquare', sans-serif;
						color: $font-white;
						font-size: 1.2rem;
						margin-left: 1.2rem;
						word-break: keep-all;
					}
				}
			}
		}
		.introduce-wrapper {
			width: 100%;
			@include box-sizing(border-box);
			padding: 0 10%;
			position: relative;
			margin-top: 3rem;
			.introduce-part {
				width: 100%;
				position: relative;
				@include flexbox();
				@include align-items(center);
				@include transition(all 0.5s linear);
				&:nth-of-type(1) {
				}
				&:nth-of-type(2) {
					.introduce-part__desc {
						.desc-bg {
							.desc-text {
								@include transform(translate(2rem, 0));
								text-align: right;
								.desc-text__desc {
									margin-left: 20%;
								}
							}
						}
					}
				}
				&:nth-of-type(3) {
				}
				.introduce-part__img {
					width: calc((100% / 6) * 4);
					height: 40rem;
					overflow: hidden;
					@include flexbox();
					@include justify-content(center);
					@include align-items(center);
					position: relative;
					img {
						width: 100%;
					}
					span {
						position: absolute;
						top: 0;
						font-size: 8rem;
						font-family: 'TmonMonsori'; 
						color: $yellow;
						z-index: 2;
						text-align: center;
						width: 100%;
						margin-top: 23%;
					}
				}
				.introduce-part__desc {
					width: calc((100% / 6) * 2);
					height: 40rem;
					position: relative;
					@include flexbox();
					@include justify-content(center);
					@include align-items(center);
					.desc-bg {
						position: relative;
						width: 50%;
						height: 20rem;
						background-color: $yellow;
						.desc-text {
							width: 100%;
							position: absolute;
							top: 0;
							left: 0;
							color: $gray1;
							font-family: 'NanumSquare', sans-serif;
							@include transform(translate(-2rem, 0));
							.desc-text__title {
								font-size: 2rem;
								line-height: 1.5;
								word-break: keep-all;
								width: 100%;
								margin-top: 2.5rem;
							}
							.desc-text__desc {
								width: 80%;
								font-size: 1.2rem;
								line-height: 1.8;
								margin-top: 2rem;
								word-break: keep-all;
								word-wrap: break-word;
							}
						}
					}
				}
			}
		}
		.gallery-wrapper {
			width: 100%;
			position: relative;
			@include box-sizing(border-box);
			padding: 0 10%;
			.gallery-tab-list {
				width: 100%;
				margin-top: 3rem;
				@include flexbox();
				.gallery-tab {
					width: 20vw;
					@include flexbox();
					@include flex-direction(column);
					@include align-items(flex-start);
					&:nth-of-type(2){
						@include transform(translate(0, 11rem));
					}
					&:nth-of-type(3){
						@include transform(translate(0, 5rem));
					}
					.gallery-tab__img {
						width: 100%;						
						height: 35rem;
						overflow: hidden;
						@include flexbox();
						@include justify-content(center);
						img {
							height: 100%;
						}
					}
					.gallery-tab__date {
						width: 100%;
						margin-top: 2rem;
						font-family: 'NanumSquare', sans-serif;
						color: $gray1;
						@include flexbox();
						@include align-items(center);
						.date-num {
							font-size: 1.2rem;
							margin-left: 2rem;
						}
						.date-line {
							width: 4rem;
							height: 1px;
							background-color: $gray1;
							margin-left: 1rem;
						}
					}
				}
			}
			.gallery-dir {
				width: 14rem;
				@include flexbox();
				float: right;
				.gallery-dir__tab {
					@include flexbox();
					@include justify-content(center);
					@include align-items(center);
					width: 50%;
					img {
						height: 5rem;
						cursor: pointer;
					}
					&.prev {
						img {
							@include transform(rotate(180deg));
						}
					}
					&.next {}
				}
			}
		}
	}
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
.container {
	.container-title {
		.title-line {
			span {
			}
			&.appear {
				span {
				}
			}
		}
		.title {			
			&.appear {
			}
		}
		.description {
			&.appear {
			}
		}
		.button {
			&.appear {
			}
			.button-tab {
			}			
		}
	}
	.container-content {
		.location-warpper {
			.location-map {
				position: relative;
				img {
					width: auto;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			.location-tab-wrapper {
				.location-tab-desc {
					.tab-desc__title {
					}
					.tab-desc__desc {
					}
				}
				.location-tab {
					img {
					}
					p {
					}
				}
			}
		}
		.gallery-wrapper {
			.gallery-tab-list {
				.gallery-tab {
					width: 22vw;
					&:nth-of-type(2){
					}
					&:nth-of-type(3){
					}
					.gallery-tab__img {
						img {
						}
					}
					.gallery-tab__date {
						.date-num {
						}
						.date-line {
						}
					}
				}
			}
			.gallery-dir {
				.gallery-dir__tab {
					img {
					}
					&.prev {
						img {
						}
					}
					&.next {}
				}
			}
		}
	}
}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
.container {
	.container-title {
		.title-line {
			span {
			}
			&.appear {
				span {
				}
			}
		}
		.title {			
			&.appear {
			}
		}
		.description {
			&.appear {
			}
		}
		.button {
			&.appear {
			}
			.button-tab {
			}			
		}
	}
	.container-content {
		.location-warpper {
			height: 38rem;
			.location-map {
				position: relative;
				img {
					width: 100%;
					height: auto;
				}
			}
			.location-tab-wrapper {
				.location-tab-desc {
					.tab-desc__title {
					}
					.tab-desc__desc {
					}
				}
				.location-tab {
					img {
					}
					p {
					}
				}
			}
		}
		.introduce-wrapper {
			margin-top: 3rem;
			.introduce-part {
				&:nth-of-type(2) {
					.introduce-part__desc {
						.desc-bg {
							margin-left: 0;
							margin-right: 2rem;
							.desc-text {
								.desc-text__desc {
								}
							}
						}
					}
				}
				&:nth-of-type(3) {
				}
				.introduce-part__img {
					width: calc((100% / 6) * 4);
					height: 30rem;
					img {
					}
					span {
						font-size: 6rem;
						margin-top: 26%;
					}
				}
				.introduce-part__desc {
					width: calc((100% / 6) * 2);
					height: 30rem;
					.desc-bg {
						width: 70%;
						height: 20rem;
						margin-left: 2rem;
						.desc-text {
							.desc-text__title {
								font-size: 1.8rem;
								line-height: 1.5;
							}
							.desc-text__desc {
								font-size: 1.15rem;
							}
						}
					}
				}
			}
		}
		.gallery-wrapper {
			.gallery-tab-list {
				.gallery-tab {
					width: calc(100% / 3);
					&:nth-of-type(2){
					}
					&:nth-of-type(3){
					}
					.gallery-tab__img {
						img {
						}
					}
					.gallery-tab__date {
						.date-num {
						}
						.date-line {
						}
					}
				}
			}
			.gallery-dir {
				margin-top: 14%;
				margin-bottom: 5rem;
				.gallery-dir__tab {
					img {
					}
					&.prev {
						img {
						}
					}
					&.next {}
				}
			}
		}
	}
}
}
@media screen and (max-width: 768px) {
.jumbotron {
	.jumbotron-img {
		img {
			width: auto;
			height: 100%;
		}
	}
}
.container {
	.container-title {
		.title-line {
		}
		.title {
		font-size: 2rem;
		}
		.description {
			width: 65%;
			font-size: 1rem;
		}
		.button {
			.button-tab {
				font-size: 1.2rem;
				padding: 1.2rem 4rem;
			}			
		}
	}
	.container-content {
		.location-warpper {
			height: 29rem;
			padding: 0 $margin-mobile;
			@include flex-direction(column);
			.location-map {
				position: relative;
				width: 100%;
				height: 23rem;
				img {
					width: 117%;
					height: auto;
					position: absolute;
					top: -17%;
					left: 0;
				}
			}
			.location-tab-wrapper {
				width: 100%;
				height: 6rem;
				@include flex-direction(row);
				.location-tab-desc {
					display: none;
					.tab-desc__title {
					}
					.tab-desc__desc {
					}
				}
				.location-tab {
					width: 25%;
					height: 100%;
					@include flex-direction(column);
					border-top: none;
					border-left: 1px solid $gray2;
					cursor: pointer;
					&:nth-of-type(1) {
						border-left: none;
					}
					img {
						margin-top: 1.6rem;
					}
					p {
						display: none;
					}
				}
			}
		}
		.introduce-wrapper {
			margin-top: 0;
			padding: 0 $margin-mobile;
			.introduce-part {
				flex-direction: column;
				height: 31rem;
				&:nth-of-type(2) {
					.introduce-part__desc {
						position: absolute;
						bottom: 0;
						z-index: 2;
						.desc-bg {
							margin-left: 0;
							margin-right: 0;
							left: 0;
							right: auto;
							.desc-text {
								@include transform(translate(-2rem,0));
								.desc-text__title {
									margin-top: 2rem;
								}
								.desc-text__desc {
								}
							}
						}
					}
				}
				&:nth-of-type(3) {
				}
				.introduce-part__img {
					width: 100%;
					height: 17rem;
					img {
					}
					span {
						font-size: 3.5rem;
						margin-top: 25%;
					}
				}
				.introduce-part__desc {
					width: 100%;
					height: 14rem;
					@include transform(translateY(-20px));
					.desc-bg {
						position: absolute;
						width: 75%;
						height: 14rem;
						right: 0;
						margin-left: auto;
						.desc-text {
							@include transform(translate(2rem,0));
							.desc-text__title {
								font-size: 1.5rem;
								line-height: 1.5;
							}
							.desc-text__desc {
								font-size: 1rem;
							}
						}
					}
				}
			}
		}
		.gallery-wrapper {
			padding: 0 $margin-mobile;
			.gallery-tab-list {
				.gallery-tab {
					width: 100%;
					&:nth-of-type(2){
						display: none;
					}
					&:nth-of-type(3){
						display: none;
					}
					.gallery-tab__img {
						img {
						}
					}
					.gallery-tab__date {
						.date-num {
							margin-left: 0;
						}
						.date-line {
						}
					}
				}
			}
			.gallery-dir {
				margin-top: 7%;
				margin-bottom: 5rem;
				float: none;
				margin-left: calc((100% - 14rem) / 2);
				.gallery-dir__tab {
					img {
					}
					&.prev {
						img {
						}
					}
					&.next {}
				}
			}
		}
	}
}
}