$yellow: #f7ff5a;
$blue: #2ac6ff;

$gray1: #2b2b2b;
$gray2: #606060;
$gray3: #a5a5a5;
$gray4: #eaeaea;

$gray1-700: rgba(43, 43, 43, 0.7);
$gray1-300: rgba(43, 43, 43, 0.3);

$font-gray1: #2b2b2b;
$font-gray2: #606060;
$font-gray3: #a5a5a5;
$font-gray4: #eaeaea;

$font-white: rgb(255, 255, 255);

$white: rgb(255, 255, 255);
$white-900: rgba(255, 255, 255, 0.9);
$white-500: rgba(255, 255, 255, 0.5);
$white-250: rgba(255, 255, 255, 0.25);
$white-100: rgba(255, 255, 255, 0.1);

$shadow: rgba(40, 40, 40, 0.7);